#!/usr/bin/make -f
# -*- makefile -*-

export DH_VERBOSE=1

export DEB_BUILD_MAINT_OPTIONS = hardening=+all

_configure := --libdir=/lib/$(DEB_HOST_MULTIARCH) --enable-static

CFLAGS += -fstack-protector-all

%:
	dh $@ -- --with autoreconf

override_dh_auto_configure:
	dh_auto_configure -- $(_configure)

override_dh_link:
	LIBMNL_SO_VER=$(shell basename $(CURDIR)/debian/tmp/lib/*/libmnl.so.*.* | sed 's/.*\.so\.\(.*\)/\1/') \
	dh_link
