Source: libcap-ng
Priority: optional
Maintainer: Pierre Chifflier <pollux@debian.org>
Build-Depends: debhelper (>= 9),
    dh-autoreconf,
    dh-python <!nopython>,
    autotools-dev,
    libattr1-dev,
    linux-kernel-headers,
    swig <!nopython>,
    libpython-all-dev <!nopython>,
    libpython3-dev <!nopython>,
    python-all-dev:any <!nopython>,
    python3-dev:any <!nopython>
Standards-Version: 3.9.8
Section: libs
Homepage: http://people.redhat.com/sgrubb/libcap-ng

Package: libcap-ng-dev
Section: libdevel
Architecture: any
Depends: libcap-ng0 (= ${binary:Version}), ${misc:Depends}
Description: Development and header files for libcap-ng
 This library implements the user-space interfaces to the POSIX
 1003.1e capabilities available in Linux kernels.  These capabilities are
 a partitioning of the all powerful root privilege into a set of distinct
 privileges.
 .
 The libcap-ng library is intended to make programming with POSIX
 capabilities much easier than the traditional libcap library.

Package: libcap-ng0
Section: libs
Architecture: any
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends}
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: An alternate POSIX capabilities library
 This library implements the user-space interfaces to the POSIX
 1003.1e capabilities available in Linux kernels.  These capabilities are
 a partitioning of the all powerful root privilege into a set of distinct
 privileges.
 .
 The libcap-ng library is intended to make programming with POSIX
 capabilities much easier than the traditional libcap library.
 .
 This package contains header files and libraries for libcap-ng.

Package: libcap-ng-utils
Section: admin
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libcap-ng0 (= ${binary:Version})
Description: Utilities for analysing and setting file capabilities
 This library implements the user-space interfaces to the POSIX
 1003.1e capabilities available in Linux kernels.  These capabilities are
 a partitioning of the all powerful root privilege into a set of distinct
 privileges.
 .
 The libcap-ng library is intended to make programming with POSIX
 capabilities much easier than the traditional libcap library.
 .
 This package contains utilities for analysing and setting file capabilities.

Package: python-cap-ng
Section: python
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ${python:Depends}
Build-Profiles: <!nopython>
Description: Python bindings for libcap-ng
 This library implements the user-space interfaces to the POSIX
 1003.1e capabilities available in Linux kernels.  These capabilities are
 a partitioning of the all powerful root privilege into a set of distinct
 privileges.
 .
 The libcap-ng library is intended to make programming with POSIX
 capabilities much easier than the traditional libcap library.
 .
 This package contains the Python bindings for libcap-ng.

Package: python3-cap-ng
Section: python
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ${python3:Depends}
Provides: ${python3:Provides}
Build-Profiles: <!nopython>
Description: Python3 bindings for libcap-ng
 This library implements the user-space interfaces to the POSIX
 1003.1e capabilities available in Linux kernels.  These capabilities are
 a partitioning of the all powerful root privilege into a set of distinct
 privileges.
 .
 The libcap-ng library is intended to make programming with POSIX
 capabilities much easier than the traditional libcap library.
 .
 This package contains the Python3 bindings for libcap-ng.

