/*.debhelper
/*.debhelper.log
/*.substvars
/.debhelper/
/autoreconf.after
/autoreconf.before
/build-*/
/dbus-1-dbg/
/dbus-1-doc/
/dbus-tests/
/dbus-udeb/
/dbus-user-session/
/dbus-x11/
/dbus/
/debhelper-build-stamp
/files
/libdbus-1-3-udeb/
/libdbus-1-3.symbols
/libdbus-1-3/
/libdbus-1-dev/
/tmp-home/
/tmp-udeb/
/tmp/
